<li class="list-group-item" id="group-<%= group.id %>">
  <h4 class="name">
    <%= link_to group.full_path, group %>
    <%= link_to user_path(group.owner) do %>
      <i class="glyphicon glyphicon-user pull-right"> <%=group.owner.name%></i>
    <% end %>
  </h4>

  <p class="description"><%= group.description %></p>
  <span>
    Created <%= time_ago_in_words(group.created_at) %> ago.
    <% if current_user?(group.owner) || current_user.admin? %>
      <%= link_to group, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } do %>
        <i class="glyphicon glyphicon-trash pull-right"></i>
      <% end %>
      <%= link_to edit_group_path(group) do %>
        <i class="glyphicon glyphicon-edit pull-right">&nbsp;</i>
      <% end %>
    <% end %>
  </span>
</li>
