<%= form_with(model: group, url: group_subgroups_path(params[:group_id])) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "What is this group about?" %>

  <%= f.hidden_field :parent_group_id, value: group.parent_group_id %>

  <%= f.submit button_name, class: "btn btn-primary" %>
<% end %>
